.badge {
  border-radius: 4px;
  display: inline-block;
  padding: 2px 6px;
}

.badge--success {
  background-color: green;
  color: white;
}
.badge--failure {
  background-color: red;
  color: white;
}
