.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.header h2 {
  margin-bottom: 0;
}

.image {
  width: 200px;
}

.details {
  margin-top: 1em;
  border-top: 1px solid #7a7a7a;
  padding-top: 10px;
}

.details h3 {
  margin: 0;
}

.details h4 {
  margin-bottom: 4px;
  margin-top: 10px;
}

.details span {
  font-weight: bold;
  display: block;
  margin: 5px 0 2px;
}
